---
import {
	briefcase as Briefcase,
	gamepad2 as Gamepad2,
	mail as Mail,
	user as User,
	wallet as Wallet,
} from 'lucide-static/lib';

import Cohost from '../assets/svgs/cohost.svg?raw';
import Github from '../assets/svgs/github.svg?raw';
import Mastodon from '../assets/svgs/mastodon.svg?raw';
import Twitter from '../assets/svgs/twitter.svg?raw';
import Youtube from '../assets/svgs/youtube.svg?raw';
import IndexFooterIcon from '../components/IndexFooterIcon.astro';

import IndexLink from '../components/IndexLink.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main class="min-h-screen w-full grid place-items-center">
		<div>
			<header>
				<div>
					<p class="text-sm sm:text-base opacity-60 italic font-light text-left leading-3 drop-shadow-sm">
						Hi! My name is
					</p>
					<h1 class="text-5xl sm:text-6xl font-extrabold leading-none text-center py-1 drop-shadow-md">
						Jaezmien<br />Naejara
					</h1>
					<p class="text-sm sm:text-base opacity-60 italic font-light text-right mt-1 drop-shadow-sm">
						and I like to do silly things.
					</p>
				</div>
			</header>

			<nav class="mt-7 mb-9">
				<ul>
					<IndexLink text="About Me" link="/about">
						<Fragment set:html={User} />
					</IndexLink>
					<IndexLink text="Projects" link="/projects">
						<Fragment set:html={Briefcase} />
					</IndexLink>
					<IndexLink text="NotITG Files" link="/notitg">
						<Fragment set:html={Gamepad2} />
					</IndexLink>
					<IndexLink text="Commissions" link="/commission">
						<Fragment set:html={Wallet} />
					</IndexLink>
				</ul>
			</nav>

			<footer>
				<ul class="flex flex-row flex-wrap place-items-center justify-evenly sm:justify-around gap-2">
					<li>
						<IndexFooterIcon
							href="mailto:jaezmien.naejara@gmail.com"
							label="Email"
							class="text-meadow-dark dark:text-meadow-lighter"
						>
							<Fragment set:html={Mail} />
						</IndexFooterIcon>
					</li>
					<li class="w-6 h-6">
						<IndexFooterIcon
							href="https://www.youtube.com/channel/UCTXYVbsNeYEZfYEv6YaWc8A"
							label="Youtube"
							class="fill-[#ff0000]"
						>
							<Fragment set:html={Youtube} />
						</IndexFooterIcon>
					</li>
					<li class="w-6 h-6">
						<IndexFooterIcon href="https://twitter.com/jaezmien" label="Twitter" class="fill-[#1DA1F2]">
							<Fragment set:html={Twitter} />
						</IndexFooterIcon>
					</li>
					<li class="sm:hidden block h-2 basis-full"></li>
					<li class="w-6 h-6">
						<IndexFooterIcon href="https://cohost.org/jaezmien" label="Cohost" class="fill-[#671a3d]">
							<Fragment set:html={Cohost} />
						</IndexFooterIcon>
					</li>
					<li class="w-6 h-6">
						<IndexFooterIcon
							href="https://equestria.social/@jaezmien"
							label="Mastodon"
							class="fill-[#6364FF]"
						>
							<Fragment set:html={Mastodon} />
						</IndexFooterIcon>
					</li>
					<li class="w-6 h-6">
						<IndexFooterIcon
							href="https://github.com/Jaezmien"
							label="Github"
							class="fill-[#333333] dark:fill-[#ffffff]"
						>
							<Fragment set:html={Github} />
						</IndexFooterIcon>
					</li>
				</ul>
			</footer>
		</div>
	</main>
</Layout>

<style lang="scss">
	h1 {
		background-image: linear-gradient(90deg, hsla(188, 90%, 51%, 1) 0%, rgb(30, 221, 164) 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
</style>
